header .container{
    margin-top: -20px;
    margin-bottom: -20px;
}


#service{
    margin-top: -50px;
}


.vid{
    margin-bottom: 50px;
    font-size: 25px;
    background-color: #2c3e50;
}

.modal-title{
    color: black;
}

.modal-size{
    width: 750px;
    margin: auto;
}

.xprt{
    padding-bottom: 60px;
}


#slider {
    max-width: 900px;
    margin: auto
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}

@media(max-width:767px) {
    i {
        padding: 0.8rem
    }
}

.carousel-control-prev {
    justify-content: flex-start;
    color: #000;
    
}

.carousel-control-next {
    justify-content: flex-end;
    color: #000;
}

.carousel-control-next:hover {
    color: #000;
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
}

.carousel-control-prev:hover {
    color: #000;
}
